.datemodify{

}
.modifydate {
	//background-color:red;
	width:900px;
	 margin:0 auto;
//background-color:#bcbcbc;
	padding:5px;
}
.modifydate label{
	color:#124e72;
	
}
.catprice{

}
 .breakbase{
padding:10px;
	
}
.roombreakdetails{
	padding:15px;
}
.breakdetails li span{
	color:#114b70;
	font-size:12px;;
}
.breakicon li {
  display:inline;
}
.breakicon li img {
  width:40px;
  height:40px;
}
.breakbase .breakbtn{
	  margin: 0 auto;
}
  .box{
        border: 1px solid #88ba41;
        padding: 10px;
    }
.grandtotal h3{
	color:#114b70;
	
}   
.catprice h3{

		display:block;
		margin:0 auto;
	    padding:15px;
}  
.catprice a{
		color:#114b70;
		font-size:24px;
		float:right;
} 
.breakcount{
	//margin-left:10px;
	 /*  width:800px;
	  margin:0 auto */;
}
.breakcount input{
	 height:28px;
	width:50px;
	border-color:#d9d9d9;
	 background-color: #d9d9d9;
	 color:#000;
	position: relative; 
	z-index: 9999;
}
.breakcount input:focus { 
background-color: #d9d9d9;
}
.breakcount label{
	color:#114b70;
	font-size:15px;
	font-weight:600;
    text-align: center;
}

.breakhrtag{
	border: 1px solid #e5e5e5;
   
}
.taxbreak{
	 margin: 0 auto;
}
.taxbreakup .panel-heading{
	background-color:#eac996;
	width:100%;
	padding: 2px 5px;
	text-align:center;
	color:#124c71;
	

}
.taxbreakup .panel-body {
background:#e5e5e5;
width:100%;
	padding: 9px 12px;
	text-align:center;
	font-size:16px;
	font-weight:600;

}
.breakbtn{
	float:right;
}
.breakguest label{
	color:#000000 !important;
	  font-weight: bold;
}
.breakguest label > .breakred{
	color:red !important;
}
.breakcoupon .btn-coupon{
margin:5px;
	
}
.breakguestinfo .guestbtn{
	padding:10px;
	margin:5px;
}
/* Media query */
@media (max-width: 480px) {
.catprice h3{
		//color:#114b70;
		//font-size:24px;
		display:block;
		margin:0 auto;
} 
.catprice a{
		color:#114b70;
		font-size:24px;
		float:left;
}
.grandtotal h3{
	color:#114b70;
	font-size:15px;
  text-align:center;
} 
}