/* 
    Created on : Mar 9, 2016,
    Author     : Vinoth Sudarsanam
*/


#wrapper {
    width: 100%;
}
#page-wrapper {
    padding: 5px 15px;
    min-height: 600px;
}
#page-inner {
    width:100%;
}
.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

}
#main2 {
    width: 100%;
    height: 137px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}

p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;
}
.noti-box {
    min-height: 100px;
    padding: 20px;
}
.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

}
.bg-color-green {
    background-color: #00CE6F;
    color: #fff;
}
.bg-color-blue {
    background-color: #A95DF0;
    color: #fff;
}
.bg-color-red {
    background-color: #DB0630;
    color: #fff;
}
.bg-color-brown {
    background-color: #B94A00;
    color: #fff;
}


.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.main-temp-back {
    background: #8702A8;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.main-temp-back .text-temp {
    font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color:#2EA7EB;
    color:#fff;
}
.back-dash p {
    padding-top:16px;
    font-size:13px;
    color:#fff;
    line-height:25px;
    text-align:justify;
}
.back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
.back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
.color-bottom-txt {
    color: #000;
    font-size: 16px;
    line-height: 30px;
}
/*CHAT PANEL*/
.chat-panel .panel-body {
    height: 450px;
    overflow-y: scroll;
}
.chat-box {
    margin: 0;
    padding: 0;
    list-style: none;
}
.chat-box li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #808080;
}
.chat-box li.left .chat-body {
    margin-left: 90px;
}
.chat-box li .chat-body p {
    margin: 0;
    color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

/*==============================================
    MENU STYLES    
    =============================================*/


.user-image-section{
    width:100%;
    float: left;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}
.user-image {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height:41px;
    width:41px;
    float:left;
}
.user-image-detail {
    width:auto;
    float:left;
    color:#7f7f7f;
    font-size:14px;
    font-weight:400;
    text-align:left;
    padding-left:15px;
    line-height:14px;
}
.navbar-cls-top .navbar-brand {
    color: #fff;
    background: #2fb357;
    width: 228px;
    text-align: center;
    height:74px;
    font-size: 20px;
    font-weight:700;
    line-height: 43px;
}
.navbar-cls-top .navbar-brand:hover {
    color: #fff;
    background: #1fab49;
    width: 228px;
    text-align: center;
    height:74px;
    font-weight:700;
    line-height: 43px;
}
.navbar-cls-top .navbar-brand-normal {
    font-weight:300;
}
.active-menu {
    background-color:#21a94a!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f105";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}



.sidebar-collapse , .sidebar-collapse .nav{
    background:none;
}
.sidebar-collapse .nav {
    padding:0;
}
.sidebar-collapse .nav > li > a {
    color:#666666;
    background:#fff;
    text-shadow:none;
    text-transform:uppercase;
    font-weight:600;
}
.sidebar-collapse .nav > li > a span{
    width: 43px;
    float: left;
    padding-right:10px;
}
.sidebar-collapse .nav > li > a span + span{
    width:auto;
    float: right;
}
.sidebar-collapse > .nav > li > a {
    padding:20px 20px;
    border-left:solid 4px #fff;
}
.sidebar-collapse > .nav > li {
    border-bottom: 1px solid #edeeef;
    width: 100%;
    float: left;
    
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background:#f2f2f0;
    outline:0;
    color:#2fb357;
    border-left:solid 4px #2fb357;
}
.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}
.nav.nav-third-level li a {
    font-size:12px !important;
    color:#666666 !important;
    text-transform: none !important;
    padding: 20px 0px;
    padding-left:60px;
}

.nav.nav-third-level li a:hover,
.nav.nav-third-level li a:focus {
    color:#2fb357 !important;
    border-left:none;
    background:none;
    list-style: radial-gradient;    
}
.nav-third-level li a:active {
    color:#2fb357 !important;
}

/*.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
    content:"";
    display:block;
    position:absolute;
    left:20px;
    width:15px;
    height:1px;
    background:#ff0000;
    top:20px;
    text-transform:none;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
    content:"";
    display:block;
    position:absolute;
    left:20px;
    width:1px;
    height:100%;
    background:#ff0000;
    top:0px;
    z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
    height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
    left:40px;
}
.navbar-side {
    border:none;
    background-color: #fff;

}
.navbar-cls-top {
    background:#fff;
    border-bottom:solid 1px #edeeef;

}
.navbar-cls-top .navbar-brand:hover {

    background: #1da045;
    color:#fff;

}*/


.navbar-header {
    background: #f2f2f0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f2f2f0;
}
.nav-height{
    width:100%;
    float:left;
    height:74px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.nav > li > a > i {
    margin-right:10px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border-bottom:solid 1px #edeeef !important;
    border: 0px solid transparent;
}
.navbar-default .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/

/*.navbar-side:after {
    background:#2fb357;
    content: "\f101";    
    color:#fff;
    padding:5px;
    position:absolute;
    top:0;
    right:0;
}*/

.navbar-default {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    float: left;
    z-index:100;
}

@media(min-width:800px) and (max-width:1024px){ 
.navbar-cls-top .navbar-brand {
    color: #fff;
    background: #2fb357;
    width: 180px;
    text-align: center;
    height: 74px;
    font-size: 15px;
    font-weight: 700;
    line-height: 43px;
}
.navbar-cls-top .navbar-brand:hover {
    color: #fff;
    background: #1fab49;
    width: 180px;
    text-align: center;
    height: 74px;
    font-size: 15px;
    font-weight: 700;
    line-height: 43px;
}
}

@media(min-width:768px) {
    #page-wrapper{
        margin: 0 0 0 260px;
        padding: 5px 20px;
        /*min-height: 1200px;*/

    }
    .full-width-page-wrapper{
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        transition: all 0.6s ease;
         margin:0 !important;
    }
    .half-width-page-wrapper{
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .navbar-side {
        z-index: 1;
        position: absolute;
        width:228px;
        background: #fff;
        height: 100%;
        border-right: solid 1px #edeeef;
    }

    .navbar {
        border-radius: 0px; 
    }

}

@media(max-width:740px) {
.navbar-default {
    position: relative;
}
}
