
.loading-indicator {
    -webkit-animation: rotatefull 9s 0s infinite linear forwards;
    animation: rotatefull 9s 0s infinite linear forwards;
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}
svg {
    -webkit-animation: scaleup 0.5s 0s 1 ease-in-out forwards;
    animation: scaleup 0.5s 0s 1 ease-in-out forwards;
    /*                background: #fff;*/
}
svg circle {
    stroke: #40B64F;
    fill: none;
}
svg circle:last-of-type {
    opacity: 0;
    stroke: #ddd;
    -webkit-transition: stroke-dashoffset 0.5s ease-out;
    transition: stroke-dashoffset 0.5s ease-out;
}
.complete svg {
    /*                -webkit-animation-name: scaledown;
                    animation-name: scaledown;*/
}
p {
    text-align: center;
    color: #40B64F;
    font-size: 26px;
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
}
.complete p {
    -webkit-animation: scaledown 0.5s 0s 1 ease-in-out forwards;
    animation: scaledown 0.5s 0s 1 ease-in-out forwards;
}
.percentage span{
    font-size: 20px;
    font-weight: 100;
}
.preloader-center{
    width: 100%;
    float: left;
   /* background: rgba(0, 0, 0, 0.21);*/
   background: rgba(255,255,255,1);
    height: 100vh;
    -webkit-animation-name: scaledown;
    animation-name: scaledown;
    position: absolute;
    z-index: 999;
    margin: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
@-webkit-keyframes rotatefull {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0) rotate(0);
        transform: translate3d(-50%, 0, 0) rotate(0);
    }
    20% {
        -webkit-transform: translate3d(-50%, 0, 0) rotate(72deg);
        transform: translate3d(-50%, 0, 0) rotate(72deg);
    }
    40% {
        -webkit-transform: translate3d(-50%, 0, 0) rotate(144deg);
        transform: translate3d(-50%, 0, 0) rotate(144deg);
    }
    60% {
        -webkit-transform: translate3d(-50%, 0, 0) rotate(216deg);
        transform: translate3d(-50%, 0, 0) rotate(216deg);
    }
    80% {
        -webkit-transform: translate3d(-50%, 0, 0) rotate(288deg);
        transform: translate3d(-50%, 0, 0) rotate(288deg);
    }
    99%,
    100% {
        -webkit-transform: translate3d(-50%, 0, 0) rotate(360deg);
        transform: translate3d(-50%, 0, 0) rotate(360deg);
    }
}
@keyframes rotatefull {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0) rotate(0);
        transform: translate3d(-50%, 0, 0) rotate(0);
    }
    20% {
        -webkit-transform: translate3d(-50%, 0, 0) rotate(72deg);
        transform: translate3d(-50%, 0, 0) rotate(72deg);
    }
    40% {
        -webkit-transform: translate3d(-50%, 0, 0) rotate(144deg);
        transform: translate3d(-50%, 0, 0) rotate(144deg);
    }
    60% {
        -webkit-transform: translate3d(-50%, 0, 0) rotate(216deg);
        transform: translate3d(-50%, 0, 0) rotate(216deg);
    }
    80% {
        -webkit-transform: translate3d(-50%, 0, 0) rotate(288deg);
        transform: translate3d(-50%, 0, 0) rotate(288deg);
    }
    99%,
    100% {
        -webkit-transform: translate3d(-50%, 0, 0) rotate(360deg);
        transform: translate3d(-50%, 0, 0) rotate(360deg);
    }
}
@-webkit-keyframes scaleup {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    72% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    84% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    98% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    99% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scaleup {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    72% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    84% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    98% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    99% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes scaledown {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    15% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    60% {
        opacity: 1;
    }
    99%,
    100% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
    }
}
@keyframes scaledown {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    15% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    60% {
        opacity: 1;
    }
    99%,
    100% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
    }
}
