
/* 
    Created on : Mar 11, 2016, 6:56:19 PM
    Author     : Designer
*/

/*wizard style start*/
.act {
  padding:0 5%;
}
.trigger {
  display:block;
  vertical-align:top;
  margin-top: 20px;
}
.trigger:hover .text {
  border-bottom:1px solid;
}

.cont {
    display: block;
    width: 100%;
    margin-top: 35px;
    float: left;
    margin-bottom: 35px;
    position: relative;
}
.inner {
  position:relative;
  height:40px;
  width:100%;
  
}
.inner:before {
  content:"";
  display:block;
  border-bottom:4px solid #fff;
}

.inner:after {
  content:"";
  width:60px;
  height:60px;
  border-radius:100%;
  display:block;
  position:absolute;
  background:#fff;
  top:-18px;
  left:50%;
  margin-left:-10px;
  cursor:pointer;
  border:solid 1px #2fb358;
  line-height:38px;
  text-align:center;
  color:#a7a9ac;
  font-size:14px;
  font-weight:600;
}

.set-1{
    width: 85%; float: left;
}
.set-2{
    width: 15%; float: left;
}
.cell{
    width: auto;
    margin-right: 65px;
    margin-left:15px;
    float: left;
    transition:width .75s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.wizard-border{
    border-top:2px solid #d1d3d4;
    margin-top: 10px;
    margin-left: 10px;
}
.cell.prev, .cell.step1, .cell.active{
    float: left;
}
.cell.next, .cell.step3{
    float: right;
}
.step {
  position: relative;
  height: 40px;
  width: 100%;
  float: left;
}

/*.step:before {
  content:"";
  display:block;
  border-bottom:2px solid #d1d3d4;
}*/

/*.step1:before {
    width: 62%;
    float: right;
}
.step2:before {
    width: 27%;
    float: right;
}
.step3:before {
    width: 22%;
    float: right;
    border-bottom: none;
}*/

/*.step:after {
  width:38px;
  height:38px;
  border-radius:100%;
  display:block;
  position:absolute;
  background:#fff;
  top:-18px;
  margin-left:-10px;
  cursor:pointer;
  transition: box-shadow .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  border:solid 1px #acaeb1;
  line-height:38px;
  text-align:center;
  color:#a7a9ac;
  font-size:14px;
  font-weight:600;
}*/

/*.step1:after {
  content:"01";
}

.step2:after {
  content:"02";
}

.step3:after {
  content:"03";
}*/

.cell .title {
    color: #a7a9ac;
/*    position: absolute;*/
    bottom: 100%;
    margin-bottom: -10px;
    /*text-align: right;*/
    /* width: 50%; */
    min-width: 150px;
    transform: translateX(-10%);
    font-size: 14px;
    font-weight: 400;
    transition: opacity .80s cubic-bezier(0.55, 0.085, 0.68, 0.53), font-size .80s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    background:url(../image/bg.jpg);
    padding:0 8px;
}

.cell .number{
  width:38px;
  height:38px;
  border-radius:100%;
  display:block;
  position:absolute;
  background:#fff;
  top:-10px;
  margin-left:-10px;
  cursor:pointer;
  transition: box-shadow .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  border:solid 1px #acaeb1;
  line-height:38px;
  text-align:center;
  color:#a7a9ac;
  font-size:14px;
  font-weight:600;
}

.cell .text{
    margin-left: 35px;
}
.cell.active .title {
    font-size: 18px !important;
    font-weight: 700;
    color: #2fb358;
    line-height:22px;
    background:url(../image/bg.jpg);
    padding:0 8px;
}
.cell.active .number{
    border:solid 2px #2fb358;
    color: #2fb358;
    font-size: 18px;
    width: 58px;
    height: 58px;
    line-height: 58px;
    top:-19px;
}
.cell.active .text{
    margin-left: 52px;
}
.cell.active {
    position:relative;
}
.cell.active .title,.cell.prev .title,.cell.next .title {
    opacity:1;
    font-size:100%;
    letter-spacing:0;
}
.cell.active .inner:after {
    box-shadow: 0 0 20px rgba(255,255,255,.75);
}

.checked .title{
    color: #2fb358 !important;
    font-weight:700;
}

.checked .number{
    font-size:36px;
    line-height:30px;
    color: #2fb358 !important;
    border: solid 2px  #2fb358 !important;
}
/*wizard style end*/



@media(max-width:768px) {

.set-1{
    width: 74%; float: left;
}
.set-2{
    width: 26%; float: left;
}   
.cell .text {
    margin-left: 0px ;
}
.cell.active .number {
    border: solid 2px #2fb358;
    color: #2fb358;
    font-size: 20px;
    width: 51px;
    height: 51px;
    line-height: 50px;
    top: -19px;
}
.cell.active .text {
    margin-left: 38px;
}
.cell .text {
    margin-left: 27px;
}
.cell.active .title {
    font-size: 16px !important;
    font-weight: 700;
    color: #2fb358;
    line-height: 18px;
}
.cell {
    margin-right: 24px;
}

.cell.active .text {
    margin-left: 38px;
    display: none;
}
.cell .text {
    margin-left: 27px;
    display: none;
}
.set-2 {
    width: 23%;
    float: left;
}
.cell .number {
    margin-left: -3px;
}
}
@media(max-width:760px) {
/*wizard style start */
.cell.active .text {
    margin-left: 38px;
    display: none;
}
.cell .text {
    margin-left: 27px;
    display: none;
}
.set-2 {
    width: 19%;
    float: left;
}
.cell.active .number {

}
.cell .number {
    margin-left: 0px;
}
.cell.active .number {
    left: -6px;
}
/*wizard style end */
}