/* ==================================================================
	COLOR SCHEMES
================================================================== */

.home-form .nav-tabs > li.active > a,
.home-form .nav-tabs > li > a:hover,
.home-form .nav-tabs > li.active > a:focus,
.slider-btn .btn-white:hover,
.tp-caption.slider-btn .btn-white:hover,
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span,
.icon-container,
.dash .digit,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a,
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white,
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.pricing-table-footer,
.pricing-table-header,
.yellow,
.panel-default > .panel-heading,
.c2 li span,
.btn-primary {
	color: #fff;
	background-color: #88ba41;
	border-color: #88ba41;
}
.form-control:focus {
	border-color: #88ba41;
	box-shadow: none;
}
.hotel-title hr,
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus,
.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
	border-color: #88ba41;
}
#infoform .form-control,
.input-group-addon,
.dropdown .btn-white,
.form-inline .input-group > .form-control {
	border-bottom-color: #88ba41;
}
.post-title .pull-right span,
.bootstrap-select .fa-angle-down,
.input-group-addon i,
.rating i,
a,
.topbar-drops i,
.sidebar li a:hover,
.sidebar li a:focus,
.yamm .dropdown-menu li h3 i,
.yamm .yamm-content li a:hover,
.yamm .yamm-content li a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.breadcrumb > li + li::before,
.c3 span,
.c1 li:before {
	color: #88ba41;
}

.section .well
{
box-shadow: 3px 4px 30px 4px #777777;
}
@media screen and (max-width: 760px) {
iframe{
max-width: 100%;
margin-top:5%;
}
}