/* ulo index begins */
.fa-calendar{
	color:#88ba41;
}
.ulocontact {
    padding-top: 13px;
    //color:#444444;
    color: #114b70;
}
.dropbtn {
    background-color: #88ba41;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    display: block;
    margin: 15px;
    text-align: center;
}
/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
}
/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content p {
    color: black;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}
/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content p {
    color: #092f53;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}
/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #092f53;
}
.mar-b10 i {
    margin-bottom: 10px;
}
.bold {
    font-weight: bold;
}
/* ulo index Ends */
/* ulohoteldetails.jsp begins */

.stream-content {
    height: 55px;
    position: fixed;
    background-color: #124d72 !important;
    bottom: 0;
    width: 25%;
    border-radius: 6px 0px 0px 0px;
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-weight: 500;
    right: 0px;
    z-index: 2000;
}
.stream-content .close {
    color: red;
    opacity: 10;
    padding-right: 1%;
}
.stream-content img {
    color: black;
    display: inline-block;
    float: left;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    margin-left: 30px;
    padding: 3px;
}
.stream-content p{
padding:0px;margin:0px;
}
.stream-content .chk-details p {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.stream-content label {
    color: black;
    margin-left: 30px;
    min-width: 50px;
    font-weight: 600;
}
.stream-content button {
    color: fff;
    margin: 0 auto;
    display: block;
    padding: 5px;
    margin-top: 15px;
    background-color:red!important;
    border:1px solid red;
}
.stream-content button:hover{
    background-color:#88ba41!important;
}
.active {
    //background-color:#092f53!important;
}
.chk-details {
    font-size: 16px;
    font-style: bold;
    border-right: 1px dotted #092f53;
}
/* ulohotels.jsp ends */

.datemodify {} .modifydate {
    //background-color:red;
    width: 900px;
    margin: 0 auto;
    //background-color:#bcbcbc;
    padding: 5px;
}
.modifydate label {
    color: #124e72;
}

.roombreakdetails {
    padding: 15px;
}
.breakdetails li span {
    color: #114b70;
    font-size: 12px;
    ;
}
.breakicon li {
    display: inline;
}
.breakicon li img {
    width: 40px;
    height: 40px;
}
.breakbase .breakbtn {
    margin: 0 auto;
}
.box {
    border: 1px solid #88ba41;
    padding: 10px;
}
.grandtotal h4 {
    color: #114b70;
    float:right;
}
.catprice h4 {
  margin-bottom:0px !important;
}

.breakcount {
   /*margin-left:10px;
   width:800px;
	  margin:0 auto */
}

.breakcount input {
    height: 30px;
    width: 100%;
    border-color: #d9d9d9;
    background-color: #d9d9d9;
    color: #000;
    //position: relative;
    z-index: 9999;
    text-align:eft !important;
}
.breakcount .form-control{

	     
} 
.breakcount input:focus {
    background-color: #d9d9d9;
}
.breakcount label {
    color: #114b70;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
.breakhrtag {
    border: 1px solid #e5e5e5;
}
.taxbreakup a{
 color: #124c71;
}
.taxbreakup{
    background-color: #fff;
    width: 100%;
    color: #124c71;
    font-size:12px;
    matgin-top:20px;
}

.taxbreakup a:hover{
 color: #124c71;
}
.taxbreakup .panel-body {
    padding:0px!important;
    background: #e5e5e5;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    width:auto:
}
.breakbtn {
    float: right;
}
.breakguest label {
    color: #114b70 !important;
    font-weight: bold;
}
.breakguest label > .breakred {
    color: red !important;
}
.breakcoupon .btn-coupon {
 margin-right:5px;   
}
.breakguestinfo .guestbtn {
    padding: 10px;
    margin: 5px;
}
.roomimage{
    margin-left: auto;
	margin-right: auto;
	display: block;

}
/* Media query */
/* media query for tab under 768px */

@media only screen and (max-width: 768px) {
	    /* Uloindex header */
    
    .logoindex {
        width: 100%;
        text-align: center;
    }
    .topbar {
        background-color: #fff;
        padding: 0;
        border: 0;
        position: relative;
        /min-height: 200px;
        height: auto;
        width: 100%;
        text-align: center;
        box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, .16);
    }
    .headerbtn {
        float: right;
    }
    .ulocontact {
        width: 100%;
        text-align: center;
    }
    /* ulohotels.jspbegins */
    .stream-content {
        height: 75px;
        position: fixed;
        background-color: #124d72 !important;
        bottom: 0;
        width: 25%;
        border-radius: 6px 0px 0px 0px;
        box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
        color: #fff;
        font-weight: 500;
        right: 0px;
        z-index: 2000;
    }
    .stream-content .close {
        color: red;
        opacity: 10;
        padding-right: 1%;
    }
    .stream-content img {
        color: black;
        display: inline-block;
        float: left;
        margin-right: 10px;
        height: 35px;
        width: 35px;
        margin-left: 30px;
        padding: 5px;
    }
    .stream-content .chk-details p {
        color: #fff;
        font-weight: 600;
        font-size: 16px;
    }
    .stream-content label {
        color: black;
        margin-left: 30px;
        min-width: 50px;
        font-weight: 600;
    }
    .stream-content button {
        color: fff;
        display: block;
        margin: 20px;
    }
    .active {
        //background-color:#092f53!important;
    }
    .chk-details {
        font-size: 16px;
        font-style: bold;
        border-right: 1px dotted #092f53;
    }
}
/* media query for mobile 480px */

@media (max-width: 480px) {
    /* Uloindex header */
    
    .logoindex {
        width: 100%;
        text-align: center;
    }
    .topbar {
        background-color: #fff;
        padding: 0;
        border: 0;
        position: relative;
        /min-height: 200px;
        height: auto;
        width: 100%;
        text-align: center;
        box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, .16);
    }
    .headerbtn {
        float: right;
    }
    .ulocontact {
        width: 100%;
        text-align: center;
    }
    /* ulohotels.jspbegins */
    .stream-content {
    height: 55px;
    position: fixed;
    background-color: #124d72 !important;
    bottom: 0;
    width: 75%;
    border-radius: 6px 0px 0px 0px;
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-weight: 500;
    right: 0px;
    z-index: 2000;
}
.stream-content .close {
    color: red;
    opacity: 10;
    padding-right: 1%;
}
.stream-content img {
    color: black;
    display: inline-block;
    float: left;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    margin-left: 30px;
    padding: 3px;
}
.stream-content p{
padding:0px;margin:0px;
}
.stream-content .chk-details p {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.stream-content label {
    color: black;
    margin-left: 30px;
    min-width: 50px;
    font-weight: 600;
}
.stream-content button {
    color: fff;
    margin: 0 auto;
    display: block;
    padding: 5px;
    margin-top: 15px;
    background-color:red!important;
    border:1px solid red;
}
.stream-content button:hover{
    background-color:#88ba41!important;
}
    .active {
        //background-color:#092f53!important;
    }
    .chk-details {
        font-size: 16px;
        font-style: bold;
        border-right: 1px dotted #092f53;
    }
    /* ulohotels.jspbegins */
    .breakcount .btn-danger,.btn-primary {
    Z-index:1;
    }
    .breakcount .btn-success {
    Z-index:1;
    }
   /*  .breakcount .input-group select{
    z-index:0;
    }  */
    .breakcount input {
        height: 30px;
        max-width: 100%;
        min-width:50px;
        border-color: #d9d9d9;
        background-color: #d9d9d9;
        color: #00000;
        text-align:center;
     
    }
    .catprice h4 {
        //color:#114b70;
        //font-size:24px;
        width: 100%;
        text-align: center;
         margin-bottom:0px !important;
  
    }

.taxbreakup {
    background-color: #fff;
    width: 100%;
    color: #124c71;
    text-align: center;
    font-size:12px;
}
.taxbreakup a{
 color: #124c71;
 text-align: center;
}
.taxbreakup .panel-body {
     padding:0px!important;
    background: #e5e5e5;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

    .grandtotal h4 {
        color: #114b70;
        font-size: 15px;
        text-align: center;
        float:none;
    }
       .grandtotalrs h4 {
        color: #114b70;
        font-size: 15px;
        text-align: center;
        float:none;
    }
}
/* ex media query */